<h2>Visumaanvragen</h2>
<form (ngSubmit)="submit()" [formGroup]="visumaanvragenForm">
    <div>
        <label>Visum kwitantienummer:
            <span class="requiredRed">
                *
            </span>
        </label>
        <input type="text" formControlName="visumKwitantieNummerField" maxlength="15" (blur)="methodAddLeadingZeros()"
            autofocus>
        <small class="requiredRed"
            *ngIf="visumaanvragenForm.get('visumKwitantieNummerField').invalid
        && (visumaanvragenForm.get('visumKwitantieNummerField').dirty || visumaanvragenForm.get('visumKwitantieNummerField').touched)">
            Visum kwitantienummer is ongeldig.
        </small>

    </div>
    <button mat-button (click)="openDialog()">Bevestig</button>

    <!-- <button type="submit()" [disabled]="visumaanvragenForm.invalid">
        Bevestig
    </button> -->
</form>
<br>
<div>
    {{visumaanvragenForm.value | json}}
</div>

<br>
<div class="requiredRed">
    {{completeInformation}}
</div>