<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>
<span>{{getPriceItems() | currency}}</span>

<span>Total price: {{totalPrice | currency}}</span>

<form [formGroup]="checkoutForm" (ngSumbit)="register()">
    <div>
        <label for="name"> Name: </label>
        <input id="nameId" type="text" formControlName="name" required>
        <small *ngIf="checkoutForm.get('name').dirty && checkoutForm.get('name').hasError('required')">Name is required</small>
        <small *ngIf="checkoutForm.get('name').dirty && checkoutForm.get('name').hasError('minlength')">Name should contains at least 3 characters </small>
        <div>
            <label for="address"> Address: </label>
            <input id="addressId" type="text" formControlName="address">
            <small *ngIf="checkoutForm.get('address').dirty && checkoutForm.get('address').hasError('required')">Address is required</small>
        </div>
        <button class="button" type="submit" [disabled]="checkoutForm.invalid">Purchase</button>
    </div>
</form>